:root{
    padding: 0;
    margin: 0;
}

html, body {
    font-family: "Roboto Flex", sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
}

.icon{
    width: 32px;
    height: 32px;
    display: inline-block;
    background-size: cover;
}

.icon-button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.chip{
    display: inline-flex;
    padding: 8px 16px;
    align-items: center;
    gap: 8px;
    border-radius: 9999px;
    text-align: center;
    font-family: "Roboto Flex", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}

.control-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}